<h1>Employees list</h1>
<table border="1px solid darkblue">
    <tr>
        <th>S.No....</th>
        <th>Name....</th>
        <th>Employee Id....</th>
        <th>City....</th>
        <th>Manager Id....</th>
        <th>Manager/Employee....</th>
    </tr>
    <% @emp.each_with_index do |x,index| %>
    <% @city.each do |p| %>
        <% if p.id == x.city_id %>
            <tr>
                <td><%=index+1%></td>
                <td><%=link_to x.name, edit_employee_path(x)%></td>
                <td><%=x.id%></td>
                <td><%=p.name%></td>
                <td><%=x.manager_id%></td>
                <% if x.id==x.manager_id %>
                    <td><%="Manager"%></td>
                <% else %>
                    <td><%="Employee"%></td>
                <% end %>
            </tr>
        <%end%>
    <%end%>
    <%end%>
</table>
